.google-search-results {
    list-style-type: none;
    padding: 0;
}

.google-search-results li {
    margin-bottom: 10px;
}

.google-search-results li a {
    text-decoration: none;
    color: #239B56;
}

.google-search-results li a:hover {
    text-decoration: underline;
}

